body {
  background-color: black;
  font-size:0;

}
.row {
  text-align: center;
}
.tile {
  font-size: 150px;
  border: 10px solid darkslategray;
  height: 200px;
  width: 200px;
  display:inline-block;
  color:white;
  vertical-align: top;
  cursor: pointer;
}

#score {
  color:white;
  font-size: 20px;
  text-align: center;
}
